.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper img {
  margin: 3rem 0;
}

.calculator {
  width: 100%;

  border-radius: 25px;

  padding: 2rem;

  background: var(--white);
}

.left>* {
  margin-bottom: 1rem;
}

.left label {
  color: var(--dark-grayish-cyan);
}

input {
  border-radius: 5px;
  border: none;
  background: var(--very-light-grayish-cyan);
}

input::placeholder {
  color: var(--dark-grayish-cyan);
}

.bill input,
.people input {
  width: 100%;
  margin-top: .5rem;
  padding: 1rem .5rem;
  text-align: right;
}

input[type=number]:focus {
  outline-color: var(--strong-cyan);
}

input[type=number]:invalid {
  outline-color: red;
}

.bill input {
  background: url("images/icon-dollar.svg") no-repeat 15px 22px;
  background-size: 15px;
}

.people input {
  background: url("images/icon-person.svg") no-repeat 15px 22px;
  background-size: 15px;
}

.tip-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: .5rem;
}

.tip-buttons div {
  width: 47.5%;
  margin-bottom: 1rem;
}

.tip-buttons label {
  display: inline-block;
  background: var(--very-dark-cyan);
  color: var(--very-light-grayish-cyan);
  padding: .5rem;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.tip-buttons input[type="radio"]:checked+label {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

input[id="custom"] {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
}

.right {
  background: var(--very-dark-cyan);
  border-radius: 10px;
  padding: 2rem;
}

.outputs div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.right label {
  color: var(--very-light-grayish-cyan);
}

.per-person {
  color: var(--dark-grayish-cyan);
}

.right output {
  color: var(--strong-cyan);
  font-size: 2rem;
}

.right button {
  width: 100%;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: .5em;
  border-radius: 5px;

  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.right button:hover{
  filter: brightness(1.25);
}

.attribution {
  margin: 3rem 0;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover{
  filter: brightness(1.5);
}